/* Home page CSS */
.right {
    text-align: right;
    vertical-align: top;
}

.background-image {
    background-image: url("../img/Oussama\ Kmar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    /* set height to viewport height */
    opacity: 0.5;
}

/* Center button resume */
.centered-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

body {
    background-color: #F7F7F7;
}

.percent-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.percent-bar-fill {
    height: 100%;
    width: 1000%;
    background-color: #616161;
    border-radius: 5px;
}

header {
    background-color: #333;
    color: #fff;
    height: 50px;
}

nav {
    float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.fa {
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    padding: 20px;
    font-size: 30px;
    width: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #333;
    color: white;
    text-align: center;

}

.fa-linkedin {
    background: #333;
    color: white;
}

.fa-instagram {
    background: #333;
    color: white;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    background-color: #c7c3c3;
    margin: -10px;
    padding: 30px 16px;
}
